*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #f9f9f9;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin: 0 auto;
    padding-inline: 2rem;
    background-color: #f9f9f9;
    
}
.header_main a img {
    height: 7rem;
}
ul {
    list-style: none;
    padding: 0;
}
.nav_desktop {
    display: flex;
    font-family: "mavenpro";
    font-weight: bold; 
    font-size: 20px;
    color: #343237;

    @media (max-width:71rem) {
        display: none;
    }
}
.nav_mobile {
    display: none;
    font-family: "mavenpro";
    font-weight: bold; 
    font-size: 20px;
    color: #343237;

    @media (max-width:71rem) {
        display: flex;
    }
}

.nav_desktop li a, .nav_mobile li a {
    padding-inline: 0.5rem;
    padding-block: 2rem;
    text-decoration: none; 
    color: #343237;
    
}
.schedule:before {
    font-family: "codeconf";
    margin-inline-start: 2rem;
    padding-inline-end: 0.8rem;
    content: "\e93f";
    font-weight: 300;
}
.search:before {
    font-family: "codeconf";
    margin-inline-start: 2rem;
    padding-inline-end: 0.3rem;
    content: "\e940";
    color: #f74c1e;
    font-weight: 300;
}
.home:before {
    font-family: "codeconf";
    content: "\e943";
    color: #f74c1e;
    font-size: 24px;
}
.menu_hamburger:before {
    font-family: "codeconf";
    content: "\e93e";
    font-weight: 300;
}
.header_and_speaker {
    background-color: #f9f9f9;
    width: 100%;
}
.decor {
    display: flex;
    justify-content: space-between;
}
.decor_left, .decor_right {
    height: 1.5rem;
}
.header_main, main {
    max-width: 80rem;
    min-width: 34rem;
    margin: 0 auto;
}
.list_speakers {
    min-width: 34rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-inline: 1rem;
}
.speaker {
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    margin-block: 1rem;
}
.imgspeaker {
    width: 15rem;
    background-color: #7456ea;
}
.decospeaker {
    display: flex;
    justify-content: flex-end;
    margin-top: -1.5rem;
}
.decospeaker img {
    width: 10rem;
}
.firstnamefront, .lastnamefront, .nameback {
    color: #4b436a;
}
.location {
    color: #a29db1;
    font-family: "leaguespartan";
    font-size: 20px;
}
.namespeakerfront, .location {
    padding-inline: 1rem;

}
.namespeakerfront, .namespeakerback {
    font-family: "museo700";
    font-size: 22px;
} 
.speakerfront {
    height: 23rem;
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: space-between;
    padding-block-end: 1.5rem;
    transition: transform 0.8s ease-in-out;
}
.moreinfo a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f74d1c;
    padding: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    margin: 0 auto;
    margin-block-start: -19rem;
    margin-block-end: 19rem;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

.speakerback {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 1.5rem;
    height: 23rem;
    border: 1px solid black;
    background-color: #ffefe7;
    color: #343237;
}
.titleevent {
    font-family: "museo700";
    font-size: 20px;
}
.contentevent {
    font-family: "mavenpro";
    line-height: 1.4;
}
.event {
    display: flex;
    flex-direction: column;
}
.footerspeaker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "mavenpro";
    font-weight: bold;
    font-size: 16px;
}
.aboutevent {
    border: 2px solid #f74c1e;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 2rem;
    & a {
        text-transform: uppercase;
        text-decoration: none;
        color: #f74c1e;
    }
}
.timeevent {
    display: flex;
}
.separation {
    padding-inline: 0.3rem;
}
.separation::before {
    content: "|";
}
.teaser {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 13rem;
    width: 100%;
    min-width: 32.75rem;
    background: linear-gradient(0deg, rgba(96,76,233,1) 0%, rgba(116,88,233,1) 50%, rgba(102,42,228,1) 100%);
    margin-top: -0.8rem;
    @media (max-width:51.5rem) {
    }
    
}
.img_teaser {
    @media (max-width:51.5rem) {
        position: absolute;
        top: 6.2rem;
        position: absolute;
        z-index: 1;
    }
  }
.teaser img {
    height: 18rem;
    align-self: flex-end;
    margin-block-end: -0.15rem;
    padding-inline-end: 3rem;
    @media (max-width:71rem) {
        height: 15.5rem;
    }
}
.title_description_teaser {
    color: #f1eee9;
    align-self: center;
    padding-inline-start: 2rem;
    max-width: 26rem;
    font-family: "museo500";
    line-height: 1.5;

    @media (max-width:51.5rem) {
        align-self: flex-end;
        max-width: 24rem;
        line-height: 1;
        padding-block-end: 1rem;
        padding-inline-start: 0rem;
        position: relative;
        z-index: 2;
    }
}
.title_description_teaser h1 {
    font-size: 38px;
    @media (max-width:51.5rem) {
        font-size: 60px;

    }
}
.title_description_teaser p {
    font-family: "leaguespartan";
    font-weight: normal;
    font-size: 19px;
    @media (max-width:51.5rem) {
        display: none;
    }
}
.event_speakers {
    padding-inline: 2rem;
    font-family: "museo500";
    color: #4b436a;
    letter-spacing: 0.5px;
    margin-block-end: 1rem;
}
.event_speakers ul {
    display: flex;
    align-items: center;
    padding-block-start: 2rem;
}
.formulaire {
    background-color: #ffffff;
    padding-block-start: 5rem;
    padding-block-end: 6rem;
    width: 100%;
    margin-block-start: 5rem;
    color: #343237;
}
.formsection {
    width: 32.75rem;
    margin: auto;
}
.formsectionh2, .formsectionh3, .formsectionp {
    text-align: center;
    width: 32.75rem;
    margin: 0 auto;
}
.formsectionh2 {
    text-transform: uppercase;
    color: #5f4be8;
    letter-spacing: -1px;
    font-size: 32px;
}
.formsectionh3 {
    font-family: "museo300";
    padding-block-start: 1.5rem;
    padding-block-end: 0.5rem;
    font-size: 26px;
}
.formsectionp {
    padding-block-end: 3rem;
    line-height: 1.5;
    font-size: 20px;
}
.formline1 {
    display: flex;
    justify-content: space-between;
    width: 32.75rem;
    margin: 0 auto;
}
.formline2 {
    display: flex;
    justify-content: space-between;
    width: 32.75rem;
    margin: 0 auto;
}
.formline3 {
    display: flex;
    flex-direction: column;   
}
.submit {
    color: #f74c1e;
    background-color: #ffffff;
    border: 2px solid #f74c1e;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 2rem;
    width: 14rem;
    height: 3rem;
    margin: 0 auto;
    margin-block-start: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "mavenpro";
    font-size: 18px;
    letter-spacing: -1px;
}
.participate {
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    padding-block-start: 3rem;
    font-family: "museo700";
    font-size: 24px;
}
.ctaticket {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-block-end: -9.5rem;
    padding-block-start: 4rem;
}
.ctaticket a {
    color: #ffffff;
    background-color: #f74d1c;
    box-shadow: 0px 0px 5px 20px rgba(247,77,28,0.12);
    text-decoration: none;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 14rem;
    height: 4rem;
    font-size: 22px;
    font-weight: bold;
}
.ctaticket p {
    color: #ffffff;
    background-color: #343237;
    padding-block: 0.3rem;
    padding-inline: 2rem;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    width: auto;
    height: auto;
    font-size: 14px;
    font-family: "mavenpro";
    margin: 0 auto;
}
.getticket:after {
    font-family: "codeconf";
    margin-inline-start: 0.5rem;
    content: "\e945" "\e944";
    font-weight: 300;
    letter-spacing: 0.5rem;
}
footer {
    background-color: #343237;
    padding-block-start: 8rem;
    padding-block-end: 4rem;
    padding-inline: 3rem;
    font-family: "museo300";
    min-width: 32.75rem;
    @media (max-width:51.5rem) {
        width: 100%;
        min-width: 0rem;
        padding-inline: 0rem;
        padding-block-start: 6rem;
        padding-block-end: 2rem;
    }
}
.footerline1 {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    @media (max-width:71rem) {
        justify-content: flex-start;
    }
    @media (max-width:51.5rem) {
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        margin: 0 auto;
    }
}
.footerline1A {
    width: 28rem;
    margin-inline-end: 2rem;
    line-height: 1.8;
    @media (max-width:71rem) {
        margin-inline-end: 4rem;
    }
}
.footerline1A h3, .footerline1A p {
    color: #ffffff;
}
.footerline1A h2 {
    color: #0cbfc3;
    font-size: 20px;
    @media (max-width:51.5rem) {
        color: #dac9b5;
    }
}
.footerline1A h3 {
    font-family: "mavenpro";
    font-size: 15px;
    @media (max-width:51.5rem) {
        border: 1px solid #535156;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 0.8rem;
        margin-block: 1rem;

    }
}
.footerline1A h3:before {
    @media (max-width:51.5rem) {
        color: #dac9b5;
        font-family: "codeconf";
        content: "\e948";
        padding-inline-end: 0.5rem;
    }
}
.footerline1A p {
    font-family: "mavenpro";
    font-size: 14px;
}
.footerline1B {
    min-width: 28rem;
    margin-inline-start: 2rem;
    @media (max-width:71rem) {
        display: none;
    }
}
.centreLA {
    width: 28rem;
}
.footerline2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 51.5rem;
    max-width: 58rem;
    margin: 0 auto;
    padding-inline-start: 2rem;
    @media (max-width:71rem) {
        justify-content: flex-start;
        min-width: 51.5rem;
        padding-inline-start: 0rem;
        margin-block: 2rem;
    }
    @media (max-width:51.5rem) {
        min-width: 30rem;
        max-width: 30rem;
        justify-content: center;
        padding-inline-start: 1rem;
        margin: 0;
        margin-block: 2rem;
    }
}
.footerline2 ul li {
    padding-block: 4rem;
    @media (max-width:71rem) {
        padding-inline: 1rem;
        padding-block: 1rem;
    }
}
.footerline3 {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    @media (max-width:51.5rem) {
        display: flex;
        flex-direction: column;
    }
}
.socialnetwork {
    border: 2px solid #535156;
    border-radius: 5px;
    min-width: 28rem;
    padding-inline: 2rem;
    margin-inline-end: 2rem;
    @media (max-width:51.5rem) {
        border: 0px solid #535156;
        border-top: 2px solid #535156;
        border-bottom: 2px solid #535156;
        border-radius: 0px;
        padding-block: 1rem;
        padding-inline: 2rem;
        margin-inline-end: 0rem;
    }
}
.socialnetwork h2 {
    padding-block-start: 1rem;
    color: #0cbfc3;
    font-size: 17px;
    @media (max-width:51.5rem) {
        color: #dac9b5;
    }
}
.socialnetwork h2 span {
    text-transform: uppercase;
}
.socialnetwork div {
    padding-block-start: 0.8rem;
    padding-block-end: 0.5rem;
}
.socialnetworklink {
    display: flex;
    justify-content: flex-start;
    color: #efe8e0;
    font-weight: bold;
}
.htag {
    display: flex;
    align-items: center;
    margin-inline-end: 2rem;
}

.htag:before {
    font-family: "codeconf";
    content: "\e947";
    font-size: 24px;
    margin-inline-end: 0.5rem;
    font-weight: 500;
}
.twitter {
    display: flex;
    align-items: center;
}
.twitter:before {
    font-family: "codeconf";
    content: "\e946";
    font-size: 24px;
    margin-inline-end: 0.5rem;
    font-weight: 500;
}
.infofooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28rem;
    margin-inline-start: 2rem;
    color: #ffffff;
}
.infofooter1 {
    @media (max-width:71rem) {
        display: none;
    }
}

.infofooter1 h2 {
    font-size: 16px;
    font-family: "mavenpro";
    font-weight: 500;
}
.infofooter2 {
    letter-spacing: 0.5px;
    @media (max-width:51.5rem) {
        margin-block-start: 2rem;
    }
}
.helpdeskmobile {
    @media (max-width:51.5rem) {
        display: flex;
        align-items: center;
    }
}
.organisedmobile {
    @media (max-width:51.5rem) {
        display: flex;
        align-items: center;
    }
}
.infofooter2 h2 {
    font-size: 16px;
    font-family: "museo300";
    @media (max-width:51.5rem) {
        margin-inline-end: 0.3rem;
    }
}

.infofootermiddleelement1 {
    font-weight: bold;
    font-family: "mavenpro";
    padding-block: 0.3rem;
}

.infofootermiddleelement2 {
    font-weight: bold;
    font-family: "museo300";
    padding-block: 0.3rem;
}
.infofooterlastelement1 {
    color: #dac9b5;
    font-family: "museo500";
}
.infofooterlastelement2 {
    color: #dac9b5;
    font-weight: bold;
}
.helpdesk {
    display: none;
    color: #ffffff;
    @media (max-width:71rem) {
        display: block;
        margin-block-start: 1rem;
    }
}
.helpdesk h2 {
    font-size: 16px;
    font-family: "mavenpro";
    font-weight: 00;
    @media (max-width:51.5rem) {
        margin-inline-end: 0.3rem;
    }
}