* {
    margin : 0;
}
body {
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin: 0 auto;
    background-color: blue;
    padding-inline: 2rem;
    background-color: #f9f9f9;
}
header a img {
    height: 7rem;
}
ul {
    list-style: none;
    padding: 0;
}
header ul {
    display: flex;
    color : #343237;
}
header ul li {
    padding-inline: 0.5rem;
    padding-block: 2rem;
    
}
main {
    background-color: #f9f9f9;
}
.decor {
    display: flex;
    justify-content: space-between;
}
.decoleft, .decoright {
    height: 1.5rem;
}
header, main {
    max-width: 80rem;
    min-width: 52.25rem;
    margin: 0 auto;
}
.list_speakers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.speaker {
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    margin-block: 2rem;
}
.imgspeaker {
    width: 15rem;
    background-color: #7456ea;
}
.decospeaker {
    display: flex;
    justify-content: flex-end;
    margin-top: -1rem;
}
.decospeaker img {
    width: 10rem;
}
.firstnamefront, .lastnamefront, .firstnameback, .lastnameback {
    color: #4b436a;
}
.location {
    color: #a29db1;
}
.namespeakerfront, .location {
    padding-inline: 1rem;
    padding-block: 0.5rem;
}
.speakerfront {
    height: 23rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-end: 1.5rem;
}
.speakerback {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 1.5rem;
    height: 23rem;
    border: 1px solid black;
    background-color: #ffefe7;
}
.event {
    display: flex;
    flex-direction: column;
}
.footerspeaker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutevent {
    color: #f74c1e;
    border: 2px solid #f74c1e;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 2rem;
}
.timeevent {
    display: flex;
}
.separation {
    padding-inline: 0.3rem;
}
.teaser {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 13rem;
    width: 100%;
    background: linear-gradient(0deg, rgba(96,76,233,1) 0%, rgba(116,88,233,1) 50%, rgba(102,42,228,1) 100%);
    margin-top: -0.8rem;
}
.teaser img {
    height: 18rem;
    align-self: flex-end;
    margin-block-end: -0.2rem;
}
.title_description_teaser {
    color: #f1eee9;
    align-self: center;
    padding-inline-start: 2rem;
    width: 20rem;
}
.event_speakers {
    padding-inline: 2rem;
}
.event_speakers ul {
    display: flex;
    padding-block: 2rem;
}
.formulaire {
    background-color: #ffffff;
    padding-block-start: 5rem;
    padding-block-end: 6rem;
}
.formsection {

    width: 44rem;
    margin: auto;
}
.formsection h2, .formsection h3, .formsection p {
    text-align: center;
    width: 28rem;
    margin: 0 auto;
}
.formsection h2 {
    text-transform: uppercase;
    color: #5f4be8;
}
.formline1 {
    display: flex;
    justify-content: space-between;
    width: 35rem;
    margin: 0 auto;
}
.formline2 {
    display: flex;
    justify-content: space-between;
    width: 35rem;
    margin: 0 auto;
}
.formline3 {
    display: flex;
    flex-direction: column;   
}
.submit {
    color: #f74c1e;
    background-color: #ffffff;
    border: 2px solid #f74c1e;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 2rem;
    width: 14rem;
    height: 3rem;
    margin: 0 auto;
    margin-block-start: 3rem;
    text-transform: uppercase;
}
.participate {
    width: 12rem;
    margin: 0 auto;
    text-align: center;
    padding-block-start: 3rem;
}
footer {
    background-color: #343237;
    padding-block-start: 6rem;
    padding-block-end: 4rem;
    padding-inline: 3rem;
}
.footerline1 {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin: 0 auto;
}
.footerline1A {
    width: 27rem;
    margin-inline-end: 2rem;
}
.footerline1A {
    width: 27rem;
    margin-inline-end: 2rem;
}
.centreLA {
    width: 28.5rem;
}
.footerline2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem;
    margin: 0 auto;
}
.footerline2 ul li {
    padding-block: 3rem;
    object-fit: countain;
}
.footerline3 {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin: 0 auto;
}
.socialnetwork {
    border: 2px solid #535156;
    border-radius: 5px;
    width: 24rem;
    padding-inline: 2rem;
    margin-inline-end: 2rem;
}
.socialnetwork h2 {
    padding-block-start: 1rem;
}
.socialnetwork div {
    padding-block-start: 0.3rem;
    padding-block-end: 0.5rem;
}
.socialnetworklink {
    display: flex;
    justify-content: space-between;
}
.infofooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    margin-inline-start: 2rem;
}